body {
    background-color: black;
}

.center {
    margin: 0 auto;
    width: 960px;
}

.hero {
    color: white;
}

.hero .item:hover {
    -webkit-transition: all 0.5s ease; /* Safari 3.2+ */
            transition: all 0.5s ease; /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.hero .item:hover {
    -webkit-transform: scale(2) ; /* Chrome, Safari 3.1+ */
            transform: scale(2); /* Firefox 16+, IE 10+, Opera 12.10+ */
}

/*
FONTS
*/

font-family: 'Fredericka the Great', cursive;
