<!DOCTYPE HTML>
<html>
<head>
    <script>
        console.log(document.readyState);
        document.onreadystatechange = function() {
            console.log(document.readyState);
        };
        document.addEventListener('readystatechange', function() {
            console.log(document.readyState);
        });
        document.addEventListener('readystatechange', function() {
            console.log('foo');
        });
        document.onreadystatechange = function() {
            console.log('bar');
        };
    </script>
    <title>ZagWedding</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Sail|Montez|The+Girl+Next+Door|Finger+Paint|Nothing+You+Could+Do|Sue+Ellen+Francisco">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/bootstrap.css">
    <link rel="icon" href="/static/images/favicon152_v01.png">
    <link rel="apple-touch-icon-precomposed" href="/static/images/favicon152_v01.png">
    <script async src="/static/scripts/main.js"></script>
</head>
<body>
<div class="window">
    <div class="nav container-fluid">
        <div class="row">
            <div class="hidden-xs col-sm-12">
                <a section="couple">The Couple</a>
                <a section="day">The Big Day</a>
                <a section="cast">The Supporting Cast</a>
                <a section="city">The City</a>
                <a section="pics">The Pics</a>
            </div>
        </div>
    </div>
    <div class="sections">
        <div section="couple" class="section">
            <div class="content container-fluid" style="transform(translateY(-300%))">
                {% include 'close_btn.html' %}
                {% include 'the_couple.html' %}
            </div>
        </div>
        <div section="day" class="section">
            <div class="content container-fluid">
                {% include 'close_btn.html' %}
                {% include 'the_day.html' %}
            </div>
        </div>
        <div section="cast" class="section">
            <div class="content container-fluid row-spacing">
                {% include 'close_btn.html' %}
                {% for person in wedding_party %}
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-lg-3">
                            <img class="img-responsive center-block" src="/static/images/{{ person.image }}">
                        </div>
                        <div class="col-xs-12 col-sm-8 col-lg-9">
                            <h4>{{ person.name }} <span>{{ person.title }}</span></h4>

                            <p>{{ person.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div section="city" class="section">
            <div class="content container-fluid">
                {% include 'close_btn.html' %}
                {% include 'the_city.html' %}
            </div>
        </div>
        <div section="pics" class="section">
            <div class="content container-fluid">
                {% include 'close_btn.html' %}
                {% include 'the_pics.html' %}
            </div>
        </div>
    </div>
</div>
<script src="/static/scripts/disable.js"></script>
</body>
</html>