<!DOCTYPE HTML>
<html ng-app="weddingApp">
<head>
    <title>ZagWedding</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Reenie+Beanie">
    <link rel="stylesheet" href="/static/styles/base.css">
</head>
<body ng-controller="weddingCtrl">
    <div class="bg-images">
        <div class="">
            <div class="content-box">
                <p></p>
            </div>
        </div>
        <div class="">
            <div class="content-box">
                <p></p>
            </div>
        </div>
        <div class="">
            <div class="content-box">
                <p></p>
            </div>
        </div>
        <div class="">
            <div class="content-box">
                <p></p>
            </div>
        </div>
        <div class="">
            <div class="content-box">
                <p></p>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="/static/scripts/ui-bootstrap-0.10.0.min.js"></script>
    <script src="/static/scripts/main.js"></script>
</body>
</html>