<div class="row">
    <div class="col-xs-12">
        <h4>10 / 18 / 2014</h4>

        <p>Since San Francisco offers such a fun array of activities and we have called this home for the
            past few years we are looking forward to celebrating our wedding weekend in a unique part of the
            city. With breathtaking views, rich historical presence, and convenient location for exploring
            the Bay Area, the <a target="_blank" href="http://www.nps.gov/prsf/index.htm">Presidio</a> offers a
            romantic
            escape from the city. The wedding events will be held within the park, starting with an out of
            town guest social on the grounds of the <a target="_blank"
                                                       href="http://www.innatthepresidio.com/index.php">Inn
                at the Presidio</a> on Friday evening.</p>

        <p>Saturday’s events will begin with an afternoon ceremony held at the <a target="_blank"
                                                                                  href="http://www.presidio.gov/venues/Pages/Chapel-of-Our-Lady.aspx">Chapel
            of Our Lady</a>
            with the cocktail hour and reception immediately following just down the path at the <a
                    target="_blank"
                    href="http://www.sffilmcentre.com/eventspace/eventspace.html">SF
                Film Center</a> in the
            Presidio.</p>

        <p>Hotels: We are still working on gathering room blocks at various hotels around the area and will
            post as soon as we have solidified. Please note the week of October 18th, there are a few very
            large events being hosted in San Francisco so hotel rooms will be limited, we recommend booking
            well in advance.</p>
    </div>
</div>