<div class="row">
    <div class="col-xs-12">
        <h4>San Francisco</h4>

        <p>For those of you that might enjoy a bit of sightseeing while you are here in San Francisco please
            see a few ideas of fun things to see while you are here. Please note the week of October 18th,
            there are a few very large events being hosted in San Francisco so hotel rooms will be limited,
            we recommend booking well in advance. Please see a great guide to the city <a target="_blank"
                                                                                          href="http://content.time.com/time/travel/cityguide/article/0,31489,1845230_1845056_1845537,00.html">here</a>!
            A few of our favorites are listed below.</p>

        <p>An <a target="_blank" href="http://www.alcatrazcruises.com/">amazing tour</a> of the historical state
            prison.
            Make sure to book tickets in advance as the tour sells out in advance.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Precidio</h4>

        <p>Spend some time getting to know one of the most beautiful <a target="_blank"
                                                                        href="http://www.nps.gov/prsf/index.htm">National
            Parks in the nation</a>. There are many
            self guided tours and wonderful bike/walking paths to explore.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>North Beach/ Pier 39</h4>

        <p>Where we call home, we have lived in the <a target="_blank"
                                                       href="http://content.time.com/time/travel/cityguide/article/0,31489,1845230_1845056_1844984,00.html">North
            Beach neighborhood</a> since moving to SF in 2011. We live right at the base of beautiful <a
                target="_blank"
                href="http://sfrecpark.org/destination/telegraph-hill-pioneer-park/coit-tower/">Coit
            Tower</a> and up the hill from <a target="_blank" href="http://www.sspeterpaulsf.org/church/">Saint’s
            Peter and
            Paul church</a>. If you are up for a delicious breakfast head to Mama’s- you will be sure to
            wait but said to had the best breakfast in town. While in the area make sure to check out
            Fisherman’s Wharf on pier 39 to take a look at the sea lions, beautiful views, aquatic park, and
            that’s about it! Don’t spend too much time here as it truly is a tourist trap!</p>
    </div>
</div>