<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-xs-12">
        <h4>Lodging</h4>

        <p>Please note the week of October 18th, there are a few very large events being hosted in San Francisco so
            hotel rooms will be limited, we recommend booking well in advance.</p>

        <h4><a href="http://www.sheratonatthewharf.com/" target="_blank">Sheraton Fisherman’s Wharf</a></h4>

        <p>A room block is available at the Sheraton Hotel in Fisherman’s Wharf. Please book under Guzenski/Green Wedding
            reservation by either booking online here OR calling the hotel reservations line directly at
            (888) 627-7024.</p>

        <h4><a href="https://www.airbnb.com/" target="_blank">Airbnb</a></h4>

        <p>Is a trusted San Francisco community marketplace where people list their homes online for rental use.
            This would be a great option for a group traveling together or a couple looking for a studio for the
            weekend!</p>
    </div>
</div>
