@mixin transition($val) {
    -webkit-transition: #{$val}; // Safari 3.2+
            transition: #{$val}; // Chrome 26, Firefox 16+, IE 10+, Opera 12.10+
}

@mixin transform($val) {
    -webkit-transform: #{$val};  // Chrome, Safari 3.1+
            transform: #{$val};  // Firefox 16+, IE 10+, Opera 12.10+
}

@mixin xs-and-up {
    @content
}

@mixin sm-and-up {
    @media (min-width: 768px) {
        @content
    }
}

@mixin md-and-up {
    @media (min-width: 992px) {
        @content
    }
}

@mixin lg-and-up {
    @media (min-width: 1200px) {
        @content
    }
}
