// globals
html,
body {
    height: 100%;
}

h4 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 25px;

    span {
        color: hsl(0, 0%, 50%);
    }
}

p {
    font-size: 16px;
    line-height: 27px;
}

// shared
.window {
    height: 100%;
    @include display-flex;
    @include flex-direction(column);
}

.row-spacing {
    & .row {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0px;
        }
    }
}

.close-btn {
    font-size: 25px;
    cursor: pointer;
    color: hsla(345, 69%, 46%, .6);
    @include transition(.25s);

    &:hover {
        color: hsla(345, 69%, 46%, 1);
    }
}

// top navigation
.nav {
    width: 100%;
    z-index: 1;
    background-color: hsl(0, 0%, 0%);

    a {
        text-decoration: none;
        color: hsl(0, 0%, 100%);
        margin: 0 15px;
        white-space: nowrap;
        cursor: pointer;
        @include transition(.25s);

        &:hover,
        &.selected {
            color: hsl(208, 56%, 53%);
            text-decoration: none;
        }

        @include xs-and-up {
            font-size: 14px;
            line-height: 30px;
            margin: 0 5px;
        }

        @include sm-and-up {
            font-size: 20px;
            line-height: 40px;
            margin: 0 10px;
        }

        @include md-and-up {
            font-size: 28px;
            line-height: 55px;
            margin: 0 15px;
        }

        &:nth-of-type(1) {
            font-family: 'Sail', cursive;
        }

        &:nth-of-type(2) {
            font-family: 'Montez', cursive;
        }

        &:nth-of-type(3) {
            font-family: 'The Girl Next Door', cursive;
        }

        &:nth-of-type(4) {
            font-family: 'Nothing You Could Do', cursive;
        }

        &:nth-of-type(5) {
            font-family: 'Finger Paint', cursive;
        }
    }
}

// sections container
.sections {
    height: 100%;
    @include display-flex;
}

// individual sections
.section {
    background-position: 50% 50%;
    background-size: cover;

    @include display-flex;
    @include flex-basis(20%);
    @include flex-direction(column);
    @include transition(.75s);

    @include xs-and-up {
        padding: 10px;
    }

    @include sm-and-up {
        padding: 15px;
    }

    @include md-and-up {
        padding: 25px;
    }

    @for $i from 1 through 5 {
        &:nth-of-type(#{$i}) {
            background-image: url('/static/images/bg#{$i}_v01.jpg');
        }
    }

    .active & {

        @include xs-and-up {
            @include flex-basis(2.5%);
        }

        @include sm-and-up {
            @include flex-basis(7.5%);
        }

        @include md-and-up {
            @include flex-basis(10%);
        }


        &.selected {
            @include xs-and-up {
                @include flex-basis(90%);
            }

            @include sm-and-up {
                @include flex-basis(70%);
            }

            @include md-and-up {
                @include flex-basis(60%);
            }
        }
    }
}

// section content
.content {
    display: none;
    overflow: auto;
    width: 100%;
    background-color: hsla(0, 0%, 100%, .75);
    border-radius: 15px;
    padding: 15px;
    opacity: 0;

    @include transition(.4s);

    .selected & {
        display: block;
    }

    .done & {
        opacity: 1;
    }
}