@import "variables";
@import "mixins";

html {
    height: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: $nav-bg;

    a {
        display: inline-block;
        line-height: 56px;
        font-size: 28px;
        font-family: 'Sue Ellen Francisco', cursive;
        text-decoration: none;
        color: $nav-color;
        margin: 0 15px;
        cursor: pointer;

        &:hover,
        &.active {
            @include transition(.25s);
            color: $nav-active;
            text-decoration: none;
        }
    }

    a:nth-of-type(1) {

    }
}

.pages {
    margin-top: 55px;
    display: flex;

    &.active .page {
        flex-basis: 5%;
    }

    .page {
        flex-basis: 20%;
        height: 1000px;
        @include transition($page-transition);

        @for $i from 1 through 5 {
            @include bg-image($i);
        }

        &.active {

            @include grayscale(0%);
            flex-basis: 80%;

            .content {
                opacity: 1;
                @include transform(translateY(0));
            }
        }
    }
}

.content {
    font-size: 16px;
    background-color: $content-bg;
    border-radius: 10px;
    margin: 25px;
    padding: 25px;
    opacity: 0;
    @include transition($content-transition $page-transition);
    @include transform(translateY(-1000px));

    p:after {
        content:"Bacon ipsum dolor sit amet ham flank strip steak rump landjaeger brisket, ball tip pork chop biltong. \
Porchetta rump boudin kevin ribeye. Ribeye frankfurter ham andouille, capicola shank pig tri-tip fatback leberkas tongue shankle. \
Drumstick t-bone sirloin shoulder, tri-tip capicola chuck beef ground round ham meatloaf jowl frankfurter salami.";
    }
}