@import "mixins";

// globals
html,
body {
    height: 100%;
}

h4 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 25px;

    span {
        color: hsl(0, 0%, 50%);
    }
}

p {
    font-size: 16px;
    line-height: 25px;
}

// shared
.separator {
        margin: 25px 0;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.close-btn {
    font-size: 25px;
    cursor: pointer;
    color: hsla(345, 69%, 46%, .6);
    @include transition(.25s);

    &:hover {
        color: hsla(345, 69%, 46%, 1);
    }
}

// top navigation
.nav {
    z-index: 1;
    background-color: hsl(0, 0%, 0%);

    a {
        display: inline-block;
        line-height: 56px;
        font-size: 28px;
        text-decoration: none;
        color: hsl(0, 0%, 100%);
        margin: 0 15px;
        cursor: pointer;

        &:hover,
        &.selected {
            @include transition(.25s);
            color: hsl(208, 56%, 53%);
            text-decoration: none;
        }
    }

    a:nth-of-type(1) {
        font-family: 'Sail', cursive;
    }

    a:nth-of-type(2) {
        font-family: 'Montez', cursive;
    }

    a:nth-of-type(3) {
        font-family: 'The Girl Next Door', cursive;
    }

    a:nth-of-type(4) {
        font-family: 'Finger Paint', cursive;
    }

    a:nth-of-type(5) {
        font-family: 'Nothing You Could Do', cursive;
    }
}

// sections container
.sections {
    display: flex;
    height: 100%;
}

// individual sections
.section {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    background-position: 50% 50%;
    background-size: cover;

    @include transition(.75s);

    @for $i from 1 through 5 {
        &:nth-of-type(#{$i}) {
            background-image: url("/static/images/bg#{$i}_v01.jpg");
        }
    }

    .active & {
        flex-basis: 5%;
    }

    &.selected {
        flex-basis: 80%;
    }
}

// section content
.content {
    overflow: auto;
    background-color: hsla(0, 100%, 100%, .75);
    border-radius: 15px;
    margin: 25px;
    padding: 25px;

    @include transition(1.25s ease);
    @include transform(translateY(-300%));

    .selected & {
        @include transform(translateY(0));
    }
}