// globals
html,
body {
    height: 100%;
}

h4 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 25px;

    span {
        color: hsl(0, 0%, 50%);
    }
}

p {
    font-size: 16px;
    line-height: 27px;
}

// shared
.window {
    height: 100%;
    @include display-flex;
    @include flex-direction(column);
}

.row-spacing {
    & .row {
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0px;
        }
    }
}

.close-btn {
    font-size: 25px;
    cursor: pointer;
    color: hsla(345, 69%, 46%, .6);
    @include transition(.25s);

    &:hover {
        color: hsla(345, 69%, 46%, 1);
    }
}

// top navigation
.nav {
    width: 100%;
    z-index: 1;
    background-color: hsl(0, 0%, 0%);

    a {
        line-height: 56px;
        font-size: 28px;
        text-decoration: none;
        color: hsl(0, 0%, 100%);
        margin: 0 15px;
        cursor: pointer;
        @include transition(.25s);

        &:hover,
        &.selected {
            color: hsl(208, 56%, 53%);
            text-decoration: none;
        }
    }

    a:nth-of-type(1) {
        font-family: 'Sail', cursive;
    }

    a:nth-of-type(2) {
        font-family: 'Montez', cursive;
    }

    a:nth-of-type(3) {
        font-family: 'The Girl Next Door', cursive;
    }

    a:nth-of-type(4) {
        font-family: 'Finger Paint', cursive;
    }

    a:nth-of-type(5) {
        font-family: 'Nothing You Could Do', cursive;
    }
}

// sections container
.sections {
    height: 100%;
    @include display-flex;
}

// individual sections
.section {
    padding: 15px;
    background-position: 50% 50%;
    background-size: cover;

    @include display-flex;
    @include flex-basis(20%);
    @include flex-direction(column);
    @include transition(.75s);

    @for $i from 1 through 5 {
        &:nth-of-type(#{$i}) {
            background-image: url('/static/images/bg#{$i}_v01.jpg');
        }
    }

    .active & {
        @include flex-basis(5%);

        &.selected {
            @include flex-basis(80%);
        }
    }
}

// section content
.content {
    width: 100%;
    overflow: auto;
    background-color: hsla(0, 0%, 100%, .75);
    border-radius: 15px;
    padding: 15px;

    @include transition(1.75s);
    @include transform(translateY(-300%));

    .selected & {
        @include transform(none);
    }
}